<div class="row">
    <div class="col-md-12">
        <header class="page-title">
            <h1>{{browseCtrl.category ? 'Browse items in ' + browseCtrl.category : 'Browse all items'}}</h1>
        </header>
    </div>
</div>
<div class="row">
    <!-- each item now -->
    <div class="col-lg-4 col-sm-6" ng-repeat="item in browseCtrl.Model.items">
        <a class="btn-edit" title="Edit" ng-show="browseCtrl.Model.username == item.owner_name" href="#/items/{{item.name}}/edit"><span class="glyphicon glyphicon-pencil"></span></a>
        <div class="item" ng-click="browseCtrl.viewItem(item.name);">
            <div class="item-left">
                <img ng-src="{{item.image_url}}"/>
            </div>
            <div class="item-right">
                <h4>{{item.name}}</h4>
                <p>{{item.category}}</p>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <footer class="page-footer">
            <p ng-show="browseCtrl.Model.items.length == 0">No items available.</p>
            <a ng-show="browseCtrl.Model.items.length > 0" class="btn btn-browse" ng-click="browseCtrl.prevItems();">&lt;&lt; Prev</a>
            <a ng-show="browseCtrl.Model.items.length > 0" class="btn btn-browse" ng-click="browseCtrl.nextItems();">Next &gt;&gt;</a>
        </footer>
    </div>
</div>