<div class="row">
    <div class="col-md-12">
        <h1>Edit item</h1>
    </div>
    <div class="col-md-12">
        <form name="itemForm" novalidate>
            <div class="form-group">
                <label for="itemName">Name:</label>
                <input id="itemName" class="form-control" name="itemName" ng-model="editCtrl.Model.currentItem.name" type="text" required="" />
            </div>
            <div class="form-group">
                <label for="itemDescription">Description:</label>
                <textarea id="itemDescription" class="form-control" name="itemDescription" ng-model="editCtrl.Model.currentItem.description" rows="3">
                </textarea>
            </div>
            <div class="form-group">
                <label for="itemCategory">Category:</label>
                <select id="itemCategory" class="form-control" ng-model="editCtrl.Model.currentItem.category">
                    <option ng-repeat="cat in editCtrl.Model.categories"
                            value="{{cat.name}}"
                            ng-selected="cat.name == editCtrl.Model.currentItem.category">{{cat.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="itemPrice">Base Price:</label>
                <input id="itemPrice" class="form-control" name="itemPrice" ng-model="editCtrl.Model.currentItem.price" type="number" step=".01" min="0.00" value="0" required="" />
            </div>
            <div class="form-group">
                <label for="itemSalePrice">Sale Price:</label>
                <input id="itemSalePrice" class="form-control" name="itemSalePrice" ng-model="editCtrl.Model.currentItem.sale_price" type="number" step=".01" min="0.00" value="0" />
            </div>
            <div class="form-group">
                <label for="itemStock">Stock:</label>
                <input id="itemStock" class="form-control" name="itemStock" ng-model="editCtrl.Model.currentItem.stock" type="number" step="1" min="0" value="0" required="" />
            </div>
            <div class="form-group">
                <label for="itemImage">Item Image:</label>
                <input id="itemImage" class="form-control" name="itemImage" ng-model="editCtrl.Model.currentItem.image_url" type="file"/>
            </div>
            <input class="btn btn-default" type="submit" ng-click="editCtrl.updateItem(itemForm)" value="Save changes" />
            <input class="btn btn-default" type="button" ng-click="editCtrl.deleteItem(itemForm)" value="{{editCtrl.delete ? 'Sure?' : 'Delete item'}}" />
        </form>
    </div>
</div>