<div class="row">
    <div class="col-md-12">
        <header class="page-title">
            <h1>Edit item</h1>
        </header>
    </div>
    <div class="col-md-12">
        <form name="itemForm" class="form-centered" novalidate>
            <div class="form-group">
                <label>*Name ({{30 - editCtrl.Model.currentItem.name.length}} chars):</label>
                <input class="form-control" name="itemName" ng-model="editCtrl.Model.currentItem.name" type="text" maxlength="30" required />
                <div class="msg-invalid" ng-show="itemForm.$submitted && itemForm.itemName.$invalid">Please enter a name</div>
            </div>
            <div class="form-group">
                <label>Description ({{250 - editCtrl.Model.currentItem.description.length}} chars):</label>
                <textarea class="form-control" name="itemDescription" ng-model="editCtrl.Model.currentItem.description" maxlength="250" rows="3">
                </textarea>
            </div>
            <div class="form-group">
                <label>*Category:</label>
                <select class="form-control" name="itemCategory" ng-model="editCtrl.Model.currentItem.category">
                    <option ng-repeat="cat in editCtrl.Model.categories"
                            value="{{cat.name}}"
                            ng-selected="cat.name == editCtrl.Model.currentItem.category">{{cat.name}}</option>
                </select>
                <div class="msg-invalid" ng-show="itemForm.$submitted && itemForm.itemCategory.$invalid">Please select a category</div>
            </div>
            <div class="form-group">
                <label>*Base Price:</label>
                <input class="form-control" name="itemPrice" ng-model="editCtrl.Model.currentItem.price" type="number" step=".01" min="0.00" value="0" required="" />
            </div>
            <div class="form-group">
                <label>Sale Price:</label>
                <input class="form-control" name="itemSalePrice" ng-model="editCtrl.Model.currentItem.sale_price" type="number" step=".01" min="0.00" value="0" />
            </div>
            <div class="form-group">
                <label>Stock:</label>
                <input class="form-control" name="itemStock" ng-model="editCtrl.Model.currentItem.stock" type="number" step="1" min="0" value="0" required="" />
            </div>
            <div class="form-group">
                <label>Item Image (&lt; 500 KB):</label>
                <a class="btn-remove" title="Remove image" ng-click="editCtrl.deleteImage()"><span class="glyphicon glyphicon-remove"></span></a>
                <img id="edit-image" ng-src="{{editCtrl.Model.currentItem.image_url}}"/>
                <input name="itemAvatarUrl" file-input="editCtrl.itemFile" type="file" accept="image/png,image/jpeg" />
            </div>
            <div class="text-center">
                <input class="btn btn-success" type="submit" ng-click="editCtrl.updateItem(itemForm)" value="Save changes" />
                <input class="btn btn-danger" type="button" ng-click="editCtrl.deleteItem()" value="{{editCtrl.delete ? 'Sure?' : 'Delete item'}}" />
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <footer class="page-footer">
            &copy; <a href="https://github.com/jwelker110">Jon Welker</a> 2016
        </footer>
    </div>
</div>