<nav class="navbar navbar-default" ng-controller="NavbarController as navCtrl">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="navCtrl.toggleHidden();">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="browse">{{navCtrl.Model.username ? navCtrl.Model.username : navCtrl.appName}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse pull-right" ng-class="{collapse: navCtrl.hidden}">
            <ul class="nav navbar-nav">
                <li>
                    <a ng-show="navCtrl.Model.username" ui-sref="create" ng-click="navCtrl.toggleHidden(true);">Add Item</a>
                </li>
                <li ng-repeat="link in navCtrl.navItems">
                    <a ng-show="link.show" ui-sref="{{link.sref}}" ng-click="navCtrl.toggleHidden(true);">{{link.name}}</a>
                </li>
                <li>
                    <a ng-click="navCtrl.toggleDropdownHidden();">Category</a>
                    <ul class="dropdown-menu" ng-class="{hidden: navCtrl.hiddenDropdown}">
                        <li ng-repeat="cat in navCtrl.Model.categories">
                            <a href="/#/category/{{cat.name}}" ng-click="navCtrl.toggleHidden(true);">{{cat.name}}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a ng-show="!navCtrl.Model.username" ng-click="navCtrl.login()" ng-click="navCtrl.toggleHidden(true);">Login</a>
                    <a ng-show="navCtrl.Model.username" ng-click="navCtrl.logout()" ng-click="navCtrl.toggleHidden(true);">Logout</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>