<div class="row">
    <div class="col-md-12" ng-show="loginCtrl.finish">
        <p>
            Would you like to keep your account information stored on your computer
            so that future visits do not require you log in?
        </p>
        <p>
            (Note: Your information will expire and require login if you become inactive)
        </p>
        <a class="btn btn-success" ng-click="loginCtrl.goauthLoginFinish(true)">Remember Me</a>
        <a class="btn btn-danger" ng-click="loginCtrl.goauthLoginFinish(false)">Forget Me</a>
    </div>
    <div class="col-md-12" ng-show="loginCtrl.begin">
        <a class="btn btn-default" ng-click="loginCtrl.goauthLogin()">Google</a>
    </div>
</div>