<div class="row">
    <div class="col-sm-12">
        <h4>Update your account</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <form class="form-horizontal">
            <input class="form-control" type="text" ng-model="settingsCtrl.Model.username"/>
            <input class="form-control" type="email" ng-model="settingsCtrl.Model.email"/>
        </form>
    </div>
    <div class="col-sm-4">
        <form class="form-horizontal">
            <input class="form-control" type="password" ng-model="settingsCtrl.Model.currentPass" placeholder="Current Password"/>
            <input class="form-control" type="password" ng-model="settingsCtrl.Model.newPass" placeholder="New Password"/>
        </form>
    </div>
    <div class="col-sm-4">
        <a ng-show="!settingsCtrl.Model.confirmed" class="btn btn-default">Resend Confirm Email</a>
        <a class="btn btn-default">Save Changes</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <img ng-src="{{settingsCtrl.Model.avatarUrl}}"/>
        <a class="btn btn-default">Upload Avatar</a> (.jpg, .png)
    </div>
</div>