<div class="row">
    <div class="col-md-12">
        <img ng-src="{{settingsCtrl.Model.avatarUrl}}"/>
        <input type="text" ng-model="settingsCtrl.Model.username"/>
        <input type="email" ng-model="settingsCtrl.Model.email"/>
    </div>
    <div class="col-md-12">
        <a class="btn btn-default">Resend Confirm Email</a>
        <input type="password" ng-model="settingsCtrl.Model.currentPass" placeholder="Current Password"/>
        <input type="password" ng-model="settingsCtrl.Model.newPass" placeholder="New Password"/>

    </div>
</div>